<div class="t-diagnosis-template">
  <h1 class="o-diagnosis-title">サークルクラッシャー診断</h1>
  <div class="o-diagnosis-content">
    <div *ngIf="currentQuestion as question">
      <p class="m-question-content">
        Q,{{ question.id }} {{ question.content }}
      </p>
      <div class="o-btn-list">
        <div class="m-btn__block">
          <button (click)="select(4)" class="btn-border">あてはまる</button>
        </div>
        <div class="m-btn__block">
          <button (click)="select(3)" class="btn-border">
            どちらかかと言えばあてはまる
          </button>
        </div>
        <div class="m-btn__block">
          <button (click)="select(2)" class="btn-border">
            どちらかかと言えばあてはまらない
          </button>
        </div>
        <div class="m-btn__block">
          <button (click)="select(1)" class="btn-border">
            あてはまらない
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="resultOn">
      <div class="o-result-block">
        <div>
          <p>{{ result.title }}</p>
          <p>{{ result.description }}</p>
        </div>
        <div>
          <img class="a-result-image" src="{{ resultImageUrl }}" />
        </div>
      </div>
      <a (click)="reStart()" class="a-restart-btn">もう一度診断する</a>
    </div>
  </div>
</div>
